{% extends "base.html" %} {% block head %} {{ super() }}
<link href="{{ url_for('static', filename='styles/login.css') }}" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="credentials">
    <form>
        <label for="username">Nome de usuário</label>
        <br>
        <input class="login-label"
            type="text" 
            id="username" 
            name="username"
            placeholder="Digite seu nome de usuário"
        >
        <br>
        <label for="password">Senha</label>
        <br>
        <input class="login-label"
            type="password" 
            id="password" 
            name="password"
            placeholder="Digite sua senha"
        >
        <br>
        <input class="login-button" 
        type="submit" 
        value="Entrar"
        >
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}
