<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <header>
        <button onclick="window.location.href='/'"> Página Inicial </button>
        <button onclick="window.location.href='/login'"> Login </button>
        <button onclick="window.location.href='/creditos'"> Créditos </button>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <img src="../static/images/logo_inova_colorido.png">
        <img src="../static/images/logo_ibm_semfundo.png">
        <img src="../static/images/logo_fapesp_semfundo.png">
        <img src="../static/images/logo_ia_thumb.png">
        <img src="../static/images/logo_usp_escrito_semfundo.png">
        <img src="../static/images/logo_ceia_semfundo.png">
        <img src="../static/images/logo_ufg.png">
        <img src="../static/images/logo_motorola.png">
        <img src="../static/images/logo_mctifuturo.png">
        <img src="../static/images/logo_softex.png">
    </footer>
</body>
</html>
{% block scripts %}
{% endblock %}